<html>
<head>
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="x-controlbar.html">
  <style></style>
</head>
<body>
  <x-controlbar>
    <select name="select">
      <option value="value1">Atom</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
    <select name="select">
      <option value="value1">File</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
    <select name="select">
      <option value="value1">Edit</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
    <select name="select">
      <option value="value1">View</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select>
  </x-controlbar>
</body>
</html>
