<style>
x-panes * { box-sizing: border-box; margin: 0; }
x-panes {
  display: flex;
  flex-direction:column;
}
x-panes content {
  flex:1;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
x-panes content > div {
  border-left:1px solid #ccc;
  width:100%;
  display:flex;
  flex: 1;
}
x-panes content div:first-child {
  border-left:0;
  margin-left:0;
}
</style>

<template>
  <content></content>
</template>

<script>
(function(window, document, undefined) {
  var thisDoc = (document._currentScript || document.currentScript).ownerDocument;
  var El = Object.create(HTMLElement.prototype);

  El.loadTemplate = function() {
    var template = thisDoc.querySelector('template').content;
    var clone = document.importNode(template, true);
    var content = clone.querySelector('content');
    if (content) {
      while (this.childNodes.length) {
        content.appendChild(this.firstChild);
      }
    }
    this.innerHTML = "";
    this.appendChild(clone);
  }

  El.createdCallback = function() {
    this.loadTemplate();
  };
  El.attributeChangedCallback = function(attr, oldVal, newVal) {
  };
  window.XPanesElement = document.registerElement('x-panes', {
    prototype: El
  });
})(window, document);
</script>
